*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* text-align: center; */
    width: 863px;
    margin: 30px auto 0;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: #e53170;
    margin-bottom: 40px;
    text-align: center;
}

span{
    text-align: left;
    font-family: 'Fredoka' solid, sans-serif;
    display:inline-block;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

div{
    background-color: #0f0e17;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

img{
    width: 100px;
    height: 100px;
    
}

h3{
    font-family: 'Fredoka One', cursive;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.email{
    color: #129ae5;
}

.info{
    margin-bottom: 40px;
    display:inline-block;
    vertical-align: left;
    text-align: center;
}