*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* text-align: center; */
    width: 1200px;
    margin: 0 auto;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: #e53170;
    margin-bottom: 40px;
    text-align: center;
}

p{
    font-family: 'Fredoka' solid, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

img{
    width: 100px;
    height: 100px;
    display: inline-block;
}

h3{
    font-family: 'Fredoka One', cursive;
    color: white;
    margin: 10px;
}

.email{
    color: #129ae5;
}

.info{
    margin-bottom: 40px;
    display:inline-block;
    vertical-align: left;
    text-align: center;
}

.column{
    width: calc((100% / 3) - 20px);
    height: 100px;
    background-color: #0f0e17;
}

.column-center{
    margin: 0 30px;
}

.float-left p{
    color: white;
    margin-left: 10px;
}

a{
    margin-left: 10px;
    color: #1b8fce;
}

.contenitore-riga{
    margin-top: 40px;
}